@{
    ViewData["Title"] = "Home";
    string[] TableHeaders = new string[]
    {
        "Project Title",
        "Organisation",
        "Amount Funded",
        "Target Amount",
        "Dateline",
        "Gift Your NFT"
    };
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <script defer type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script defer type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

      
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        if (@ViewBag.Result != null)
        {
            <div class="alert alert-info">@ViewBag.Result</div>
        }

        <div class="container">
            <br />
            <div style="width:90%; margin:0 auto;">
                <table id="tableGrid" class="table" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            @{
                                foreach (var head in TableHeaders)
                                {
                                    <th>@head</th>
                                }
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model != null)
                            {
                                foreach (var Data in Model)
                                {
                                    <tr>
                                        <td>@Html.ActionLink((String)Data.ProjectTitle, "Index", "OrganisationPage", new { orgid = Data.OrgId }, null)</td>
                                        <td><a href=@Data.Organisation_URL>@Data.Organisation</a></td>
                                        <td>@Data.AmountFunded</td>
                                        <td>@Data.TargetAmount</td>
                                        <td>@Data.Dateline</td>
                                        <td><button>@Html.ActionLink("Gift", "Index", "Gift", new { orgid = Data.OrgId }, null)</button></td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                    <script>
                        $(document).ready(function () {
                            $("#tableGrid").dataTable();
                        });
                    </script>
                </table>
            </div>
        </div>
    }
    else
    {
        <div>
            <h1>Welcome to NFTsForGood!</h1>
            <h4>Sign up as a Donor/Buyer to gift/buy NFTs today! Or sign up as an organisation to raise fund!</h4>
            @{
                if (Model.AppRating != null)
                {
                    <div>App's Rating: @Model.AppRating</div>
                }
            }

            <canvas id="canvas" width="30" height="30"></canvas>
            @section Scripts {
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js" integrity="sha256-qSIshlknROr4J8GMHRlW3fGKrPki733tLq+qeMCR05Q=" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css" integrity="sha256-IvM9nJf/b5l2RoebiFno92E5ONttVyaEEsdemDC6iQA=" crossorigin="anonymous" />
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js" integrity="sha256-arMsf+3JJK2LoTGqxfnuJPFTU4hAK57MtIPdFpiHXOU=" crossorigin="anonymous"></script>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
                <script>
                    function GetJSON_Simple() {
                        var resp = [];
                        $.ajax({
                            type: "GET",
                            url: '/Home/GetData',
                            async: false,
                            contentType: "application/json",
                            success: function (data) {
                                resp.push(data);
                            },
                            error: function (req, status, error) {
                                // do something with error
                                alert("error");
                            }
                        });
                        return resp;
                    }
                    var simpleData = GetJSON_Simple();
                    var ctx = document.getElementById("canvas")
                    var lineChartData = {
                        labels: simpleData[0].myDate,
                        datasets: [{
                            label: 'Number of Fund Raising Dateline',
                            borderColor: "MediumSeaGreen",
                            backgroundColor: "MediumSeaGreen",
                            fill: false,
                            data: simpleData[0].myProjects,
                            yAxisID: 'y-axis-1',
                        }]
                    };

                    window.myLine = Chart.Line(ctx, {
                        data: lineChartData,
                        options: {
                            responsive: true,
                            hoverMode: 'index',
                            stacked: false,
                            title: {
                                display: true,
                                text: 'Processes'
                            },
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        stepSize: 1,
                                        beginAtZero: true
                                    },
                                    display: true,
                                    position: 'left',
                                    id: 'y-axis-1',
                                }],
                            }
                        }
                    });

                </script>
            }
        </div>
    }
</body>
</html>
